body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  margin: 0;
}

p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  border: none;
  padding: 0;
  background-color: transparent;
}

.center {
  max-width: 1200px;
  margin: 0 auto;
}

.top-header {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 14px;
}

.top__menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 35px;
  font-size: 14px;
  line-height: 16px;
}

.top__menu-item {
  color: black;
}

.top__menu-features {
  border: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
}

.active {
  color: #F25822;
}

.button {
  background: #F25822;
  box-shadow: 4px 4px 8px rgba(242, 88, 34, 0.2);
  border-radius: 50px;
  padding: 15px 35px;
  color: white;
  font-size: 15px;
  line-height: 18px;
}

.top-content {
  margin-top: 84px;
  display: flex;
  justify-content: flex-start;
  gap: 40px;
}

.top-content__text-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 70px;
}

.top-content__text-text {
  margin-top: 29px;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #888888;
}

.top-context__buttons {
  margin-top: 39px;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
}

.button__transparent {
  color: #AAAAAA;
  margin-left: 27px;
  padding-left: 45px;
}

.button__watch {
  position: relative;
}

.button__watch::before {
  content: '';
  display: block;
  height: 30px;
  width: 30px;
  background-image: url('../img/play-video.svg');
  background-size: cover;
  background-position: center;
  position: absolute;
  top: -6px;
  left: -45px;
}

.top-footer {
  margin-top: 162px;
  margin-bottom: 90px;
  display: flex;
  justify-content: space-between;
}

.features {
  display: grid;
  grid-template-columns: repeat(3, minmax(20%, 370px));
  gap: 30px;
  justify-content: center;
  padding: 100px 0px;
}

.features__card {
  padding: 40px 30px 25px 30px;
  /* outline: 1px solid tomato; */
  box-sizing: border-box;
}

.features__card:hover {
  box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
}

.features__card-title {
  margin-top: 25px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.features__card-text {
  margin-top: 17px;
  margin-bottom: 25px;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  width: 90%;
  color: #666666;
}

.features__card-read_more {
  font-weight: 700;
  font-size: 11px;
  line-height: 16px;
}

.service {
  background-color: #FAFAFA;
  padding: 90px 0 100px;
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
}

.service__title {
  margin-bottom: 19px;
  margin-top: 0;
  text-align: center;
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
}

.service__text {
  margin: 0 auto 55px auto;
  max-width: 680px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #666666;
}

.service__cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

.service__card {
  background-color: #fff;
  max-width: 370px;
  padding-bottom: 50px;
}

.service__card:hover {
  box-shadow: 15px 25px 60px -5px rgba(0, 0, 0, 0.1);
}

.service__card-title {
  margin-bottom: 22px;
  margin-top: 25px;
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.service__card-text {
  margin: 0 30px 39px 30px;
  text-align: center;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #AAAAAA;
}

.service__card-button {
  display: block;
  margin: 0 auto;
  padding-left: 46px;
  padding-right: 36px;
}